.rdrTitleAndInputWrapper{
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid  #F2F2F2;

  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rdrDefinedAndDateRangeWrapper{
  display: flex;
  user-select: none;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rdrDateRangePickerWrapper{
  border-radius: 0.5rem;
  border: 1px solid #fff;
}