.rdrTitleAndInputWrapper{
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid  #F2F2F2;

  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.rdrDateRangePickerWrapper{
  display: flex;
  user-select: none;
}