.rdrDateDisplayWrapper {
  display: flex;
  gap: 0.75rem;
  align-self: stretch;
  width: 100%;
}

.rdrDateDisplayWrapper.stackDateInputs {
  flex-direction: column;
  .rdrDateDisplayItem.condition {
    width: 100%;
  }
}

.rdrBetweenDateInputsWrapper {
  display: flex;
  gap: 0.75rem;
  width: 100%;
}