.rdrCalendarWrapper{
  color: #000000;
  font-size: 12px;
}

.rdrMonthAndYearWrapper {
  align-items: center;
  height: 60px;
  padding: 16px;
}

.rdrMonthAndYearPicker{ /* was .rdrMonthAndYearPickers */
  display: flex;
  align-items: center;
  gap: 48.5px;
  font-weight: 600;
  select{
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    padding: 5px 25px 4px 10px;
    border-radius: 4px;
    outline: 0;
    color: #3e484f;
    background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center;
    &:hover{
      background-color: rgba(0,0,0,0.07);
    }
  }
}

.rdrYearPicker{ /* had .rdrMonthPicker too */
   margin-left: 8px;
}

.rdrNextPrevButton {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: none;
  i {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    border-style: solid;
    margin: auto;
    transform: translate(-3px, 0px);
  }
  &:hover{
    background-color: rgba(0,0,0,0.07);
  }
}

.rdrPprevButton {
  i {
    border-width: 4px 6px 4px 4px;
    border-color: transparent rgb(52, 73, 94) transparent transparent;
    transform: translate(-3px, 0px);
  }
}

.rdrNextButton {
  i {
    margin: 0 0 0 7px;
    border-width: 4px 4px 4px 6px;
    border-color: transparent transparent transparent rgb(52, 73, 94);
    transform: translate(3px, 0px);
  }
}


.rdrWeekDays {
  padding: 0 0.833em;
}

.rdrMonth{
  margin: 0 16px 16px 16px;
  .rdrWeekDays {
    padding: 0;
  }
}  

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName{
  display: none;
}  

.rdrWeekDay {
  font-size: 12px;
  font-weight: 600;
  line-height: 2rem;
  color: rgb(132, 144, 149);
}

.rdrDay {
  background: transparent;
  user-select: none;
  border: 0;
  padding: 0;
  line-height: 3.000em;
  height: 32px;
  margin: 2px 0;
  text-align: center;
  color: #202020;
  &:focus {
    outline: 0;
  }
}

.rdrDayNumber {
  outline: 0;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdrDayToday .rdrDayNumber span{
  font-weight: 500;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 8px;
    height: 2px;
    border-radius: 2px;
    background: #334bfa;
  }
}

.rdrDayToday:not(.rdrDayPassive) {
  .rdrStartEdge, .rdrEndEdge, .rdrSelected{ /* .rdrInRange */
    & ~ .rdrDayNumber span:after{
      background: #fff;
    }
  }
}

.rdrDay:not(.rdrDayPassive){
   .rdrStartEdge, .rdrEndEdge, .rdrSelected{ /* .rdrInRange */
      & ~ .rdrDayNumber{
        span{
          color: rgba(255, 255, 255, 0.85);
        }
      }
  }
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
  background: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rdrInRange {
  background: #EBEDFF;
}

.rdrSelected{
  /* left: 2px; */
  /* right: 2px; */
}

.rdrStartEdge{
  border-top-left-radius: 3.042px;
  border-bottom-left-radius: 3.042px;
  /* left: 2px; */
}

.rdrEndEdge{
  border-top-right-radius: 3.042px;
  border-bottom-right-radius: 3.042px;
  /* right: 2px; */
}

.rdrSelected{
  border-radius: 3.042px;
}

.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrInRange, .rdrEndEdge{
    border-top-left-radius: 3.042px;
    border-bottom-left-radius: 3.042px;
    left: 2px;
  }
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrInRange,  .rdrStartEdge{
    border-top-right-radius: 3.042px;
    border-bottom-right-radius: 3.042px;
    right: 2px;
  }
}

.rdrDayStartOfMonth, .rdrDayStartOfWeek{
  .rdrDayInPreview, .rdrDayEndPreview{
    border-top-left-radius: 3.042px;
    border-bottom-left-radius: 3.042px;
    border-left-width: 1px;
    left: 0px;
  }
}

.rdrDayEndOfMonth, .rdrDayEndOfWeek{
  .rdrDayInPreview, .rdrDayStartPreview{
   border-top-right-radius: 3.042px;
   border-bottom-right-radius: 3.042px;
   border-right-width: 1px;
   right: 0px;
 }
}


.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  z-index: 1;
}


.rdrDayStartPreview{
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 3.042px;
  border-bottom-left-radius: 3.042px;
  left: 0px;
}

.rdrDayInPreview{
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.rdrDayEndPreview{
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-right-radius: 3.042px;
  border-bottom-right-radius: 3.042px;
  right: 2px;
  right: 0px;
}

.rdrDefinedRangesWrapper{
  background: #ffffff;
  border-right: 1px solid #F2F2F2;
  border-bottom-left-radius: 0.5rem;
  .rdrStaticRangeSelected{
    color: currentColor;
    background: #EBEDFF;
    /* font-weight: 600; */
  }
}

.rdrStaticRange{
  width: 100%;
  display: flex;
  padding: 2px 4px;
  align-items: center;
  gap: 4px;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: #fff;
  border-radius: 4px;

  color: #464646;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  letter-spacing: -0.039px;



  &:hover { /* &:focus */
    background: #ebebeb;
  }
}

.rdrStaticRangeLabel{
  display: flex;
  padding: 2px 4px;
  align-items: center;
  gap: 4px;
}

.rdrInputRanges{
  padding: 10px 0;
}

.rdrInputRange{
  align-items: center;
  padding: 6px 16px;
}

.rdrInputRangeInput{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  border: solid 1px rgb(222, 231, 235);
  margin-right: 10px;
  color: rgb(108, 118, 122);
  &:focus, &:hover{
    border-color: rgb(180, 191, 196);
    outline: 0;
    color: #333;
  }
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  background: transparent;
}

.rdrDayPassive{
  visibility: hidden;
  pointer-events: none;
  .rdrDayNumber span{
    color: #d5dce0;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
    display: none;
  }
}

.rdrDayDisabled {
  background-color: rgb(248, 248, 248);
  .rdrDayNumber span{
    color: #aeb9bf;
  }
  .rdrInRange, .rdrStartEdge, .rdrEndEdge, .rdrSelected, .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
    filter: grayscale(100%) opacity(60%);
  }
}

.rdrMonthName{
  text-align: left;
  font-weight: 600;
  color: #849095;
  padding: 0 1rem 1rem;
}
